body {
  background-color: #EFFFFD;
}

h1 {
  color: black;
}

h3 {
  color: black;
  /* font-size: 200px; */
}

hr {
  background-color: white;
  border-color: grey;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 5%;
}

/*****************************Class selectors*****************************/
/* Add class = "" inside tag*/
.class1 {
  background-color: green;
}

.class2 {
  background-color: red;
}

/*****************************ID selectors*****************************/
/* Add id = "" insidetag*/
#heading {
  color: white;
}
